<div class="row" id="word_row">
  <div class="col-md-6 col-md-offset-3 center" >
    <span class="linguistics" id="word_prefix">
    </span>
    <span class="user_data big-text center" id="word_text">
    </span>
    <span class="linguistics" id="word_suffix">
    </span>
  </div>
</div>
<div class="row" id="word_row" style="height: 300px">
  <div class="col-md-6 col-md-offset-3" >
    <h2 class="user_data center" id="word_translations">
    </h2>
  </div>
</div>
