<div class="card">
  <div class="card-even">
    <span class="user_data middle-text">
    <%= link_to user_word.text, user_word %>
    </span>
  </div>

</div>

<div class="card">
  <%= render user_word.direct_translations %>
</div>
