<div class="item">
  <div class="row-fluid">
    <div class="col-md-4 col-md-offset-2">
      <table>
        <tbody>
        <tr>
          <td>
          <span class="user_data middle-text">
            <%= link_to user_word.text, user_word %>
          </span>
          </td>
        </tr>
        <% if user_word.transcription %>
            <tr>
              <td>
                <span class="linguistics">[ <%= user_word.transcription %> ]</span>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tbody>
        <%= render user_word.direct_translations %>
        </tbody>
      </table>
    </div>
  </div>
</div>
