<div class="row" id="page_title">
  <div class="col-md-12">
    <h1>Trainings</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>
          Scope
        </td>
        <td>
          Page
        </td>
        <td>
          Direction
        </td>
        <td>
          Words ready / total
        </td>
        <td>
          Actions
        </td>
      </tr>
      </thead>
      <tfoot>
          <tr>
            <td colspan="5">
              <%= submit_tag 'Create new training', :class => 'btn btn-default', :onclick => "document.location.href='#{new_training_path}'" %>
            </td>
          </tr>
      </tfoot>
      <%= render @trainings %>
    </table>
  </div>
</div>
