<div class="row" id="page_title">
  <div class="col-md-12">
    <h1><%= @title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div id="learningCarousel" class="carousel slide" data-interval="false">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <%= render :partial => 'trainings/user_word', :collection => @user_words %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#learningCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#learningCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
