<div class="row" id="page_title">
  <div class="col-md-12">
    <h1>New Training</h1>
  </div>
</div>

<div class="row">
  <div id="properties" class="col-md-12">
    <%= form_for @training do |f| %>
        <table>
          <tfoot>
          <tr>
            <td colspan="4">
              <%= f.submit 'Create new training', :class => 'btn' %>
            </td>
          </tr>
          </tfoot>
          <tr>
            <td>
              <label for="scopeSelect">Scope:</label>
            </td>
            <td>
              <% category_array = current_user.user_categories.map { |uc| [uc.name, uc.id] } %>
              <%= f.select(:user_category, options_for_select(category_array)) %>
            </td>
          </tr>
          <tr>
            <td>
              <label for="directionSelect">Direction:</label>
            </td>
            <td>
              <%= f.select(:direction, options_for_select([['Direct', :direct], ['Translation', :translation]])) %>
            </td>
          </tr>
        </table>
    <% end %>
  </div>
</div>
