<div class="row" id="page_title">
  <div class="col-md-12">
    <h1><%= @title %></h1>
  </div>
</div>

<%= render partial: 'training_placeholder' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <div id="trainingButtons">
      <input type="button" class="btn btn-success" id="btnRemember" value="Remember" onclick="remember(index)"/>
      <input type="button" class="btn btn-default" id="btnCheck" value="Check" onclick="showTrainingWordHint()"/>
      <input type="button" class="btn btn-danger" id="btnForgot" value="Forgot" onclick="forgot(index)"/>
    </div>
  </div>
</div>

<script type="text/javascript">
    words = [
        <% @words.each do |w| %>
        <%= render :partial => learning_word_customization(w), locals: {word: w} %>
        <% end %>
    ];

    selectTrainingWord(0);

    document.keyboardProcessor.onFPressed = function() {
        remember(index)
    };
    document.keyboardProcessor.onSpacePressed = function() {
        showTrainingWordHint()
    };
    document.keyboardProcessor.onJPressed = function() {
        forgot(index)
    };
</script>