<script type="text/javascript">
  var user_word_id = <%= @user_word.id %>;
</script>

<div class="row" id="page_title">
  <div class="span12">
    <h1>Training</h1>
  </div>
</div>

<div class="row">
  <div class="span6">
    <table>
      <tbody>
      <tr>
        <td></td>
        <td id="userWordCell" class="biglink">
          <%= link_to @user_word do %>
            <%= @user_word.word.text %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td id="answerCell">

        </td>
        <td>
          <table id="attemptTable" class="table table-striped">
            <tfoot>
            <tr>
              <td>
                <input type="button" class="btn btn-primary" id="btnCheck" value="Check"/>
                <input type="button" class="btn" id="btnHint" value="Hint"/>
                <input type="button" class="btn" id="btnSkip" value="Skip"/>
              </td>
            </tr>
            </tfoot>
            <tbody>

            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  globalInitTraining(<%=@user_word.id %>)
</script>