<td>
  <%= link_to user_category.name, user_category %>
</td>
<td>
  <div class="delete-button">
    <%= link_to "x", user_category, :method => :delete, :confirm => 'You sure?', :title => 'title' %>
  </div>
</td>