<div class="row" id="word_title">
  <div class="span12">
    <h1>Categories</h1>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
    <tr class="without-padding">
      <td class="slim">
        <%= form_tag( { :action => :update_defaults, :method => :post}, :class => "without-bottom-margin") do %>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a id="btnMerge" href="#">Merge</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        <% end %>
      </td>
      <td>
        Name
      </td>
      <td>
        Default
      </td>
      <td>
        Words count
      </td>
      <td>
        State
      </td>
      <td>
        Actions
      </td>
    </tr>
    </thead>
    <tbody>

    <% @categories.each() do |category| %>
      <tr>
        <td>
          <%= check_box_tag("id#{category.id}", "", false, :class => "mass_checkbox") %>
        </td>

        <%= render category %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>