<div class="row" id="word_title">
  <div class="col-md-12">
    <h1>Categories</h1>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
    <tr class="without-padding">
      <td class="slim">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="btnMerge" href="#">Merge</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </td>
      <td>
        Name
      </td>
      <td>
        Default
      </td>
      <td>
        Words
      </td>
      <td>
        Ready words
      </td>
      <td>
        Actions
      </td>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="6">
        <%= button_to 'Create Category', new_user_category_path, :method => :get, :form_class => 'inline', :class => 'btn btn-default without-bottom-margin' %>
      </td>
    </tr>
    </tfoot>
    <tbody>

    <% @categories.each() do |category| %>
      <tr>
        <td>
          <%= check_box_tag("id#{category.id}", '', false, :class => 'mass_checkbox') %>
        </td>

        <%= render category %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>