<div class="row" id="page_title">
  <div class="span12">
    <h1>Category</h1>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= @category.name %>
    <%= link_to "Edit", edit_user_category_path(@category) %>
  </div>

  <%= render :template => 'user_words/_user_words' %>
</div>
