<div class="tabbable tabs">
  <ul class="nav nav-tabs">
    <li class=""><%= link_to "Words", user_words_path, "data-tougle" => "tab" %></li>
    <li class="active"><a href="#lA" data-toggle="tab">Categories</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="lA">
      <div class="title">
        <%= @category.name %>
        <%= link_to "Edit", edit_user_category_path(@category) %>
      </div>

      <div class="word-list">
        <%= render @category.user_words %>
      </div>
    </div>
  </div>
</div>

