<div class="row with-bottom-margin">
  <div class="span12">
    <div class="box forms-box form-horizontal">
      <div class="control-group">
        <label class="control-label">Part of speech:</label>

        <div class="controls">
          <%= f.select(:type_id, german_part_of_speech, {}, {:class => "dropdown_small"}) %>
        </div>
      </div>
    </div>
  </div>
</div>