<div class="span1">
  <%= f.select(:type_id, german_part_of_speech, {}, {:class => "dropdown_small"}) %>
</div>

<div class="span4 offset4">
  <h1 class="word"><%= %><span class="user_data"><%= @user_word.text %></span></h1>
</div>
