<div id="myModal" class="modal hide fade external-source" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Lingvo reference</h3>
  </div>
  <div class="modal-body">
    <iframe src="<%= get_lingvo_url(@user_word, :ru)%>"></iframe>
  </div>
</div>
