<div class="span4 offset4">
  <%= get_german_gender(@user_word.custom_int_field1) %> <h1 class="word">Word: <span class="user_data"><%= @user_word.text %></span></h1> <%= @user_word.custom_string_field1 %>
</div>