<table class="table table-striped">
  <thead>
  <tr>
    <td>
      Word
    </td>
    <td>
      Translation
    </td>
    <td>
      Successful count
    </td>
    <td>
      Time to check
    </td>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="3">
      <%= will_paginate @user_words %>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <%= render @user_words %>
  </tbody>
</table>
