<tr>
  <td>
    <%= link_to user_word.text, user_word %>
  </td>
  <td>
    <% user_word.translations.each do |uw| %>
        <%= link_to uw.related_user_word.text, uw.related_user_word %>
    <% end %>
  </td>
  <td>
      <%= user_word.translation_success_count %>
  </td>
  <td>
      <%= user_word.time_to_check.strftime("%Y-%m-%d %H:%M") %>
  </td>
</tr>
