<table class="table table-striped">
  <thead>
      <tr>
        <td>
          Word
        </td>
        <td>
          Translation
        </td>
        <td>
          Status
        </td>
      </tr>
  </thead>
  <tbody>
      <%= render @user_words %>
  </tbody>
</table>