<div class="row" id="page_title">
  <div class="span12">
    <h1>Dictionary [<span class="user_data"><%= current_user.target_language.name %></span>]</h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render :template => 'user_words/_user_words' %>
  </div>
</div>