<% user_word = @user_word.nil? ? word_relation.related_user_word : (@user_word.id == word_relation.source_user_word.id) ? word_relation.related_user_word : word_relation.source_user_word  %>
<tr>
  <td colspan="2">
      <span class="user_data middle-text">
      <%=link_to user_word.text, user_word%>
      </span>
  </td>
</tr>
