<div style="display: block">
  <% word = @word.nil? ? word_relation.related_word : (@word.id == word_relation.source_word.id) ? word_relation.related_word : word_relation.source_word  %>

  <div class="delete-button">
    <%=link_to word.word, word%>
  </div>
  <div class="delete-button" >
    <%= link_to "delete", word_relation, :method => :delete, :confirm => 'You sure?', :title => 'title' %>
  </div>
</div>
<br/>
