.right {
  float: right;
}

.container {
  width: 800px;
  display: block;
  margin: 0 auto;
}

.round {
  border-radius: 10px;
}

section {
  padding:  20px;
  background: white;

}

li.round {
  background: white;
  padding-left:  10px;
  padding-right:  10px;
}

div.nav {
  float: right;
}

nav ul li {
    display: inline-block;
}

.title {
  font-size: 200%
}

.title a {
  font-size: 50%
}

.word-translations {

}

.word-synonyms {

}

.delete-button {
  display: inline-block;
}

.label {
  display: inline-block;
  width: 150px;
}

.block {
  display: block;
}

.block-inline {
  display: inline-block;
}

.word-list {

}