<%= link_to user_word_category.user_category.name, user_word_category.user_category%>

<div class="delete-button" >
  <%= link_to "x", user_word_category, :method => :delete, :confirm => 'You sure?', :title => 'Delete category?' %>
</div>

<br/>