@import "constants.css.scss";

.user_data {
  color: $user_data_color;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.biglink {
  font-size: 30px;
  font-weight: bold;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#translations, #synonyms, #categories {
  & div.progress {
    width: 100px;
    margin: auto;
  }

  & div.btn-group {
    float: right;
  }

  td {
    vertical-align: middle;
  }
  h4 {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

#page_title {
  vertical-align: middle;

  div.progress {
    margin-right: 5px;
    margin-bottom: 0;
  }
}