@import "constants.css.scss";

.user_data {
  color: $user_data_color;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.biglink {
  font-size: 30px;
  font-weight: bold;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.table td {
  vertical-align: middle;
}

#translations, #synonyms, #categories {
  & div.progress {
    width: 100px;
    margin: auto;
  }

  & div.btn-group {
    float: right;
  }

  td {
    vertical-align: middle;
  }
  h4 {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

#page_title {
  vertical-align: middle;

  div.progress {
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.table td {
  text-align: center;
}

table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  td {
    vertical-align: middle;

    select {
      margin: {
        bottom: 0;
      }
    }

    label {
      margin: {
        bottom: 0;
      }
      text-align: right;
    }
  }
}

.dropdown-menu li {
  text-align: left;
}

.alert-container {
  text-align: center;
  margin-bottom: 10px;
}

span.alert {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 14px 8px 14px;
}

.without-bottom-margin {
  margin-bottom: 0px;
}

@mixin small-padding {
  padding: 2px;
}

tr.without-padding td {
  @include small-padding;
}

.invisible {
  display: none;
}

thead td {
  font-weight: bold;
}

.inline {
  display: inline;
  div {
    display: inline;
  }
}