@import "constants.css.scss";

.user_data {
  color: $user_data_color;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.biglink {
  font-size: 30px;
  font-weight: bold;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.table td {
  vertical-align: middle;
}

#translations, #synonyms, #categories {
  & div.progress {
    width: 100px;
    margin: auto;
  }

  & div.btn-group {
    float: right;
  }

  td {
    vertical-align: middle;
  }
  h4 {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

#page_title {
  vertical-align: middle;

  div.progress {
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.table td {
  text-align: center;
}

table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  td {
    vertical-align: middle;

    select {
      margin: {
        bottom: 0;
      }
    }

    label {
      margin: {
        bottom: 0;
      }
      text-align: right;
    }
  }
}

.dropdown-menu li {
  text-align: left;
}

.alert-container {
  text-align: center;
  margin-bottom: 10px;
}

span.alert {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 14px 8px 14px;
}

.without-bottom-margin {
  margin-bottom: 0px;
}

@mixin small-padding {
  padding: 2px;
}

tr.without-padding td {
  @include small-padding;
}

.invisible {
  display: none;
}

thead td {
  font-weight: bold;
}

.inline {
  display: inline;
  div {
    display: inline;
  }
}

.dropdown_small {
  width: $dropdown_width_small;
}

.dropdown_middle {
  width: $dropdown_width_middle;
}

.box {
  position: relative;

  border: 1px solid #DDD;
  -webkit-border-radius: $border_radius_middle;
  -moz-border-radius: $border_radius_middle;
  border-radius: $border_radius_middle;

  padding: 39px 19px 14px;
}

.box::after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: $border_radius_middle 0 $border_radius_middle 0;
  -moz-border-radius: $border_radius_middle 0 $border_radius_middle 0;
  border-radius: $border_radius_middle 0 $border_radius_middle 0;
}

.with-bottom-margin {
  margin-bottom: $margin-bottom-middle;
}

.with-small-bottom-margin {
  margin-bottom: $margin-bottom-small;
}


.form-horizontal .without-bottom-margin {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.center-aligned {
  text-align: center;
  display: inline-block;
}

.with-bottom-aligned-children {
  position: relative;
}

.bottom-aligned {
  position: absolute;
  bottom: 0;
}

.forms-box {
  padding: 39px 10px 10px;
}

input.btn-add-inside-table {
  width: 102px;
  float: right;
}

.middle-text {
  font-size: 22pt;
  font-weight: bold;
}

.big-text {
  font-size: 30pt;
  font-weight: bold;
}

.linguistics {
  color: green;
  font-size: 12pt;
  font-weight: bold;
}

.table.without-border {
  border-width: 0;
  td {
    border-width: 0;
  }
}

table.key-value tr {
  td:first-child {
    text-align: right;
  }
  td:last-child {
    text-align: left;
  }
}

input[type="text"] {
  margin-bottom: 0;
}