@import "constants.css.scss";
@import "tutor.css.scss";

h1.word {
  text-align: left;
  color: $user_data_color;
}

#word_title {
  @extends #page_title;
}

#word_title {
  #status {
    margin-top: 3px;
  }

  table {
    padding: 0;
    margin: 0;

    div.progress {
      width: 100px;
    }

    form {
      margin: 0;
      input {
        margin: 0;
      }
    }
  }
}

.pagination {
  //display: inline;
  text-align: center;
}