#categories {
  span.alert {
    margin-right: 10px;
    padding: {
      top: 2px;
      bottom: 2px;
      left: 8px;
      right: 8px;
    }
    a.close {
      float: none;
      top: 1px;
      right: -4px;
    }
  }
}

.new-word, .new-category {
  text-align: left;
}

.category_list {
  margin-bottom: 5px;
}

#status {
  margin-top: 3px;
  table {
    float: right;
  }
}

#page_title {

  table {
    padding: 0;
    margin: 0;

    div.progress {
      width: 100px;
    }

    form {
      margin: 0;
      input {
        margin: 0;
      }
    }
  }
}

.pagination {
  //display: inline;
  text-align: center;
}