<header>
  <div class="nav">
    <nav>
      <ul>
        <li>
          <div>
            <%= form_for(:search, :url => search_path) do |f| %>
               <%= text_field_tag :word_to_search, '', :autocomplete => search_autocomplete_word_word_path %>
            <% end %>
          </div>
        </li>
        <li class="round">Log in</li>
        <li class="round">Recent words</li>
        <li class="round">About</li>
      </ul>
    </nav>
  </div>

  <div class="round">
    <%= link_to logo, root_path %>
  </div>
</header>