<header>
  <%= link_to logo, root_path %>
  <nav>
    <ul>
      <li><div>

        <%= form_for(:search, :url => search_path) do %>
            <%= text_field_tag :word, '', :autocomplete => search_autocomplete_word_word_path %>
        <% end %>
      </div>
      </li>
      <li>Log in</li>
      <li>Recent words</li>
      <li>About</li>
    </ul>
  </nav>

</header>